aiofiles
aiohttp
apscheduler
asyncio
bard
beautifulsoup4
bs4
cloudscraper
deepai
dnspython
emojis
ffmpeg-python
Faker
future
git+https://github.com/AsmSafone/SafoneAPI
gitpython
geopy
gpytranslate
gtts
hachoir
heroku3
httpx
img2pdf
instaloader
lexica-api
motor 
MukeshAPI
numpy
openai
opencv-python
pillow
psutil
pickledb
pornhub-api
pycountry
pycryptodome
pydub
pyfiglet
pykeyboard
pyrogram==2.0.106
python-dotenv
python-telegram-bot==21.1.1
python-whois
pyshorteners
pyttsx3
pytz
pytube
py-tgcalls==0.9.7
pyyaml
qrcode
requests
SafoneAPI
search_engine_parser
speedtest-cli
SpeechRecognition
spotipy
telegraph
tgcrypto
unidecode
wget
yt-dlp
youtube-search
youtube-search-python
